<div class="item-container">
  <div class="voting">
    <div class="vote-container">
      <a href="#" class="vote thumbs_up">
        <div class="thumbs-up-vote" title="Like" />
      </a>
      <a href="#" class="vote neutral">
        <div class="neutral-vote" title="Neutral" />
      </a>
      <a href="#" class="vote thumbs_down">
        <div class="thumbs-down-vote" title="Dislike" />
      </a>
    </div>
    <div class="pins">
      <div class="favorite">
        <% if(favorite) { %>
          <a href="#" class="selected"></a>
        <% }else{ %>
          <a href="#" class="not-selected"></a>
        <% } %>
      </div>
      <div class="vote-message"></div>
    </div>
  </div>
  <div class="middle" style="float: left;">
    <div class="details" style="overflow: hidden;">
      <div class="storelogo" style="float: left;">
        <a href="vote-detail.html" class="imagelink">
          <img src="<%= logo %>" alt="<%= name %>" />
        </a>
      </div>
      <div class="description" style="float: left;">
        <%= name %>
        <br />
        <%= description %>
      </div>
    </div>
    <div>
      Related Tags: 
      <span class='related-tags'>
        <% _.each(related_tags, function(related_tag){ %>
          <a href="/tag/<%= related_tag.path %>"><%= related_tag.friendly_name %></a>
        <% }); %>
      </span>
    </div>
  </div>
  <div class="toggle-details minichart">
    <div class="mini-vote-chart" style="height: 45px;">
      <div class="thumbs-up">
        <div></div>
      </div>
      <div class="neutral">
        <div></div>
      </div>
      <div class="thumbs-down">
        <div></div>
      </div>
    </div>
    <div class="details-arrow hidden">
    </div>
  </div>
</div>
