<div id="filter_box">
  <div id="tag">
    <h1>
        <span class="bluebold" style="display: none">Viewing: </span>
        <span id="current_tag" class="bluebold"></span>
    </h1>
  </div>
  <div id="filter_fields" style="float: right; padding-right: 20px; padding-top: 5px">
    <div>You're looking at
      <select id="filter" name="filter">
        <option value="all" <%= OurvoyceApp.selected_option('all', filter) %>>all items in this tag</option>
        <option value="voted" <%= OurvoyceApp.selected_option('voted', filter) %>>items you have voted on</option>
        <option value="no-vote" <%= OurvoyceApp.selected_option('no-vote', filter) %>>items you haven't voted on yet</option>
      </select>
    </div>
    <div>
      <select id="sort" name="sort" style="display: none">
        <option value="default_order" <%= OurvoyceApp.selected_option('default_order', sort_name) %>>Default</option>
        <option value="popularity" <%= OurvoyceApp.selected_option('popularity', sort_name) %>>Popularity</option>
        <option value="name" <%= OurvoyceApp.selected_option('name', sort_name) %>>Name</option>
      </select>
      <select id="sort_direction" name="sort_direction" style="display: none">
        <option value="desc" <%= OurvoyceApp.selected_option(sort_direction, 'desc') %>>Descending</option>
        <option value="asc" <%= OurvoyceApp.selected_option(sort_direction, 'asc') %>>Ascending</option>
      </select>
    </div>
      </div>
    <div id="search">
      <form action="/search/lookup" method="post" id="tag_search">
        <input type="text" id="search_field" name="search" 
          class="searchbox" maxlength="32" 
          value="Search for a tag. Try your home state." 
          onblur="if(this.value=='') this.value='Search for a tag. Try your home state.'" 
          onfocus="if(this.value =='Search for a tag. Try your home state.' ) this.value=''" />
        <input type="image" name="submit" 
          src="/assets/site/searchbtn.gif" border="0" 
          width="17" height="18" class='search_button' />
      </form>
    </div>

</div>
